<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.leechee.mapper.UserMapper">

    <!-- insert --> 
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into users (name, password, avatar, background_image) values (#{name}, #{password}, #{avatar}, #{background_image})
    </insert>

</mapper>