<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.leechee.mapper.VideoMapper">

    <!-- getByCreateTime --> 
    <select id="getByCreateTime" resultType="com.leechee.entity.Videos">
        select * from videos
        <where>
            <if test="latest_time != null"> and UNIX_TIMESTAMP(create_time)*1000 &lt; #{latest_time} </if>
        </where>
        order by create_time desc limit 30
    </select>

    <!-- insert --> 
    <insert id="insert">
        insert into videos (create_time, user_id, play_url, title, cover_url) 
        values
        (#{create_time}, #{user_id}, #{play_url}, #{title}, #{cover_url})
    </insert>

</mapper>